@import 'variables', 'mixins', 'functions';

.block {
  width: $block-size;
  height: $block-size;
  position: relative;

  &:before {
    content: '';
  }

  &:after {
    content: '';
    font-size: $block-size;
  }

  @include block-content(is_win, newline('✨✨','✨'), lighten($gold, 25), before) {
    font-size: $block-size / 2;
    text-align: center;
    position: absolute;
    top: $block-size / 8;
  };

  &-noun, &-joiner, &-property {
    color: $off-white;

    &:after {
      display: flex;
      width: 100%;
      height: 100%;
      font-size: 100%;
      padding-top: 5px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  @import 'nouns';
  @import 'joiners';
  @import 'properties';
  @import 'icons';
}
