@mixin block-content($name, $content, $color: false, $placement: after) {
  &--#{$name} {
    @if $placement == after {
      @content;
    }

    &:#{$placement} {
      content: $content;
      @if $color {
        color: transparent;
        text-shadow: 0 0 0 $color;
      }

      @if $placement == before {
        @content;
      }
    }
  }
}
