@import 'variables';
@import 'grid', 'blocks';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: $block-size / 2.5;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}
